@import url("./color.css");

@font-face {
    font-family: poppins-black;
    src: url("../fonts/Poppins-Black.otf");
}

@font-face {
    font-family: poppins-black-italic;
    src: url("../fonts/Poppins-BlackItalic.otf");
}

@font-face {
    font-family: poppins-bold-italic;
    src: url("../fonts/Poppins-BoldItalic.otf");
}
@font-face {
    font-family: poppins-extra-bold;
    src: url("../fonts/Poppins-ExtraBold.otf");
}


@font-face {
    font-family: poppins-extra-bold-italic;
    src: url("../fonts/Poppins-ExtraBoldItalic.otf");
}

@font-face {
    font-family: poppins-extra-light;
    src: url("../fonts/Poppins-ExtraLight.otf");
}

@font-face {
    font-family: poppins-extra-light-italic;
    src: url("../fonts/Poppins-ExtraLightItalic.otf");
}

@font-face {
    font-family: poppins-italic;
    src: url("../fonts/Poppins-Italic.otf");
}

@font-face {
    font-family: poppins-light;
    src: url("../fonts/Poppins-Light.otf");
}

@font-face {
    font-family: poppins-light-italic;
    src: url("../fonts/Poppins-LightItalic.otf");
}

@font-face {
    font-family: poppins-medium;
    src: url("../fonts/Poppins-Medium.otf");
}

@font-face {
    font-family: poppins-medium-italic;
    src: url("../fonts/Poppins-MediumItalic.otf");
}

@font-face {
    font-family: poppins-regular;
    src: url("../fonts/Poppins-Regular.otf");
}

@font-face {
    font-family: poppins-semi-bold;
    src: url("../fonts/Poppins-SemiBold.otf");
}

@font-face {
    font-family: poppins-semi-bold-italic;
    src: url("../fonts/Poppins-SemiBoldItalic.otf");
}

@font-face {
    font-family: poppins-thin;
    src: url("../fonts/Poppins-Thin.otf");
}

@font-face {
    font-family: poppins-thin-italic;
    src: url("../fonts/Poppins-ThinItalic.otf");
}

::-webkit-scrollbar {
    display: none;  
}

.home-swapper {
    width: 100%;
    height: 70%;
    margin: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    height: 500px;
    width: 80%;
    margin: 1rem;
    border-radius: 5px;
}

.card{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
    padding: 0;
    color: #fff;
}

.post-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 2rem;
    justify-content: center;
}

#post-title{
    font-family: poppins-semi-bold;
    letter-spacing: 1px;
    font-size: 3rem;
}

#post-body{
    font-family: poppins-thin;
    margin-top: 1rem;
    letter-spacing: 2px;
}

#post-read-more{
    margin: 1rem 0 0 0;
}

#post-image{
    width: 50%;
    object-fit: cover;
}


@media(max-width: 1100px) {
    .home-swapper{
        height: 100%;
    }
    #post-title{
        font-size: 2rem;
    }
    #post-body{
        font-size: .85rem;
    }
    #post-image{
        width: 35%;
    }
    
    .card-image{
        height: fit-content;
        width: 80%;
    }
}

@media(max-width: 650px) {
    .home-swapper{
        margin: 130px 0 0 0 ;
    }
    .card-image{
        width: 80%;
        height: auto;
    }

    .card{
        flex-direction: column;
    }

    #post-image{
        width: 100%;
        height: 65%;
    }
}